.programs {
  padding: 227px 0 0 14px;
  background-image: url("@img/filter-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);

  &__title {
    margin-bottom: 80px;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    font-size: 60px;

    line-height: 100%;

    text-align: center;
    color: #fbdaa8;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 60px;
    padding-left: 22px;
    cursor: pointer;
  }

  &__list-item {
    grid-column: 4 span;
  }
}

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 624px;
  max-width: 446px;
  padding: 0 36px 28px 30px;
  color: var(--color-white);
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.04);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid #fbdaa8;
    outline-offset: 2px;
    border-radius: 1px;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    margin-bottom: 23px;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
  }

  &__title--marg {
    margin-bottom: 14px;
  }

  &__descr {
    margin-bottom: 32px;
    font-family: 'Cormorant';
    font-weight: 400;
    font-size: 22px;
    line-height: 114.8%;
  }

  &__more {
    display: flex;
    column-gap: 12px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.02em;
    text-align: center;

    color: #d8a65d;

    opacity: 0.9;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid #fbdaa8;
      outline-offset: 2px;
      border-radius: 1px;
    }

  }

}

.price {
  display: flex;
  column-gap: 35px;

  &__section {
    display: flex;
    column-gap: 7.5px;
    align-items: center;
  }

  &__watch {
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    white-space: nowrap;

    color: #fbdaa8;

    opacity: 0.9;
  }

  &__coin {
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    white-space: nowrap;

    color: #fbdaa8;

    opacity: 0.9;
  }

  &__watch--fs28 {
    font-size: 28px;
  }
}

@media (max-width: 1500px) {
  .programs {
    .card__content {
      justify-content: center;
    }

    &__list {
      padding: 0;
    }

    .card {
      padding: 0 5px 28px 9px;
    }
  }
}

@media (max-width: 1200px) {
  .programs {
    &__list-item {
      grid-column: 6 span;
    }

    .card__content {
      justify-content: flex-end;
    }

    &__list-item {
      display: flex;
      justify-content: center;
    }
  }
}

@media(max-width: 960px) {
  .programs {

    .card__content {
      justify-content: flex-end;
      height: 400px;
    }

    &__list {
      column-gap: 20px;
      row-gap: 0;
      padding: 0;
    }

    &__list-item {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .programs {

    &__list {
      row-gap: 10px;
    }

    &__list-item {
      display: flex;
      grid-column: 12 span;
      justify-content: center;
    }

    .card__content {
      justify-content: flex-end;
      height: 100%;
    }

    .card__price {
      flex-direction: column;
    }
  }
}

@media(max-width: 470px) {
  .programs {
    .card__content {
      justify-content: center;
    }
  }
}

@media(max-width: 380px) {
  .programs {
    .card__content {
      justify-content: flex-start;
    }
  }
}
